[submodule "protocole/googletest"]
	path = protocole/test/modules/googletest
	url = https://github.com/google/googletest.git
[submodule "client/googletest"]
	path = client/test/modules/googletest
	url = https://github.com/google/googletest.git
[submodule "client/cli/googletest"]
	path = client/cli/test/modules/googletest
	url = https://github.com/google/googletest.git
[submodule "serveur/googletest"]
	path = serveur/test/modules/googletest
	url = https://github.com/google/googletest.git